*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    margin: 0;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 16px;
}
.icon-container{
width: 200px;
margin: auto;
}
.borderbottom{
    border-bottom: solid rgb(245, 185, 20) 2px ;
}
.motto{
    background-color: rgba(245,185,20,0.2);  
    width:auto;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    color: rgb(41, 91, 114);
    padding: 1.5rem;
}
h1{
text-align: center;
padding: 1.5rem;
}
.content
{
    width:50%;
    text-align:left;
    margin:auto;
}
.img{
    width: 100%;
    border-radius: 2rem;
    box-shadow: 3px 0px 5px 0px black;
}
.autore{
    text-align: center;
    padding: 1rem;
    color:rgba(129, 128, 123,0.4);
}
p{
    margin-bottom: 1.5rem;
}
.feat{
    color:red;
    font-size: 14px;
    border-left: solid rgb(245, 185, 20) 1px;
    padding-left: 1.5rem;
    }
.ingredienti{
    font-size: 21px;
    padding: 1.2rem 0;
    margin: 1.7rem 0;
    box-shadow: 0px 2px 0px 0px rgba(126, 255, 249, 0.4);}
ul{
    margin-left: 2.5rem;
    line-height: 2rem;
}
ol{
    margin: 0 2.5rem 2.5rem ;
}